{:paths   ["src/main"]

 :deps    {edn-query-language/eql                 {:mvn/version "0.0.9"}
           com.taoensso/timbre                    {:mvn/version "4.10.0"}
           com.taoensso/encore                    {:mvn/version "2.119.0"}
           com.fulcrologic/fulcro                 {:mvn/version "3.2.1-RC5"}
           com.fulcrologic/fulcro-i18n            {:mvn/version "0.0.1-alpha-1"}
           com.fulcrologic/guardrails             {:mvn/version "0.0.12"}
           com.wsscode/pathom                     {:mvn/version "2.2.30"}
           commons-codec                          {:mvn/version "1.14"}

           ;; These are needed so cljdoc works. Use shadow-cljs, which means you really want them
           ;; in package.json.
           cljsjs/js-joda                         {:mvn/version "1.10.1-0"}
           cljsjs/js-joda-timezone                {:mvn/version "2.0.1-0"}

           cljc.java-time                         {:mvn/version "0.1.7"}
           org.clojure/clojure                    {:mvn/version "1.10.1" :scope "provided"}
           org.clojure/clojurescript              {:mvn/version "1.10.597" :scope "provided"}
           org.clojure/core.async                 {:mvn/version "0.6.532"}
           com.taoensso/tufte                     {:mvn/version "2.1.0"}}

 :aliases {:tests     {:extra-paths ["src/test"]
                       :extra-deps  {fulcrologic/fulcro-spec {:mvn/version "3.1.5"}}}

           :clj-tests {:extra-paths ["src/test"]
                       :main-opts   ["-m" "kaocha.runner"]
                       :extra-deps  {lambdaisland/kaocha {:mvn/version "1.0-612"}}}

           :dev       {:extra-paths ["src/dev" "resources"]
                       :extra-deps  {thheller/shadow-cljs                {:mvn/version "2.8.94"}
                                     mount                               {:mvn/version "0.1.12"}
                                     binaryage/devtools                  {:mvn/version "0.9.10"}
                                     org.clojure/tools.namespace         {:mvn/version "0.3.1"}}}}}
