{:com.example.components.server/config {:port 3000}

 :com.fulcrologic.rad.database-adapters.datomic/databases
                                       {:main {:datomic/schema    :production
                                               :datomic/driver    :postgresql
                                               :datomic/database  "example"
                                               :postgresql/host     "localhost"
                                               :postgresql/port     5432
                                               :postgresql/user     "datomic"
                                               :postgresql/password "datomic"
                                               :postgresql/database "datomic"}}

 :ring.middleware/defaults-config      {:params    {:keywordize true
                                                    :multipart  true
                                                    :nested     true
                                                    :urlencoded true}
                                        :cookies   false
                                        :responses {:absolute-redirects     true
                                                    :content-types          true
                                                    :default-charset        "utf-8"
                                                    :not-modified-responses true}
                                        :static    {:resources "public"}
                                        :security  {:anti-forgery   false
                                                    :hsts           true
                                                    :ssl-redirect   false
                                                    :frame-options  :sameorigin
                                                    :xss-protection false}}

 :com.fulcrologic.rad.pathom/config    {:trace?         false
                                        ;; TODO: Elide params and such in logging
                                        :sensitive-keys #{:password :com.example.model.account/password}
                                        :log-requests?  true
                                        :log-responses? true}

 :taoensso.timbre/logging-config       {:level        :info
                                        :ns-whitelist []
                                        :ns-blacklist ["com.mchange.v2.c3p0.impl.C3P0PooledConnectionPool"
                                                       "com.mchange.v2.c3p0.stmt.GooGooStatementCache"
                                                       "com.mchange.v2.resourcepool.BasicResourcePool"
                                                       "com.zaxxer.hikari.pool.HikariPool"
                                                       "com.zaxxer.hikari.pool.PoolBase"
                                                       "com.mchange.v2.c3p0.impl.AbstractPoolBackedDataSource"
                                                       "com.mchange.v2.c3p0.impl.NewPooledConnection"
                                                       "datomic.common"
                                                       "datomic.connector"
                                                       "datomic.coordination"
                                                       "datomic.db"
                                                       "datomic.index"
                                                       "datomic.kv-cluster"
                                                       "datomic.log"
                                                       "datomic.peer"
                                                       "datomic.process-monitor"
                                                       "datomic.reconnector2"
                                                       "datomic.slf4j"
                                                       "io.netty.buffer.PoolThreadCache"
                                                       "org.apache.http.impl.conn.PoolingHttpClientConnectionManager"
                                                       "org.projectodd.wunderboss.web.Web"
                                                       "org.quartz.core.JobRunShell"
                                                       "org.quartz.core.QuartzScheduler"
                                                       "org.quartz.core.QuartzSchedulerThread"
                                                       "org.quartz.impl.StdSchedulerFactory"
                                                       "org.quartz.impl.jdbcjobstore.JobStoreTX"
                                                       "org.quartz.impl.jdbcjobstore.SimpleSemaphore"
                                                       "org.quartz.impl.jdbcjobstore.StdRowLockSemaphore"
                                                       "org.quartz.plugins.history.LoggingJobHistoryPlugin"
                                                       "org.quartz.plugins.history.LoggingTriggerHistoryPlugin"
                                                       "org.quartz.utils.UpdateChecker"
                                                       "shadow.cljs.devtools.server.worker.impl"]}}
